---
layout: default
---
  <div class="home-avatar-placeholder">
     <img src="{{ '/assets/images/avatar.JPG' | relative_url }}" alt="Mia avatar">
  </div>

  <h1>Mia</h1>
  <p class="subtitle">Design · Study · Life Records</p>

  <nav class="home-nav">
  <a href="/about-me/" class="icon-card">
    <div class="icon-placeholder"></div>
    <span class="icon-label">About me</span>
  </a>
  <a href="/study/" class="icon-card">
    <div class="icon-placeholder"></div>
    <span class="icon-label">Study</span>
  </a>
  <a href="/photo/" class="icon-card">
    <div class="icon-placeholder"></div>
    <span class="icon-label">Photos</span>
  </a>
  <a href="/book/" class="icon-card">
    <div class="icon-placeholder"></div>
    <span class="icon-label">Books</span>
  </a>
  <a href="/records/" class="icon-card">
    <div class="icon-placeholder"></div>
    <span class="icon-label">Records</span>
  </a>
</nav>

</div>
